.backDiv {
    background-color: aquamarine;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 550px;
    margin-right: auto;
    margin-left: auto;

}

.mainDiv {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: azure;
}

.listDiv {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}

ul li {
    cursor: pointer;
    list-style-type: none;
}

img {
    width: 20px;
    
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 20px;
    
}

.inputDiv {
    margin-left: auto;
    margin-right: auto;
}

#inputID {
    height: 30px;
    width: 250px;
    margin-right: 0%;
    font-size: 20px;
}

#add {
   height: 36px; 
   margin-left: 0%;
   background-color: magenta;
   color: white;
   font-size: 20px;
}





